<div style="background: #fff; margin: 0 auto; max-width: 550px;">
    <p style="font-size: 1.25rem; font-weight: 200; line-height: 1.5rem;">
        Dear {{ username }}, you're receiving this email because someone requested a password reset for your user account.
    </p>
    <p>Follow this link to reset your password:</p>
        
    <a href="{{ reset_url }}" style="background: #22b8eb;
        padding: 10px 20px;
        margin-bottom: 20px;
        color: #fff;
        font-size: .85rem;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;" 
        target="_blank">
    Reset Password</a>
    <br>(This link will expire in 1 hour)
</div>